@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana.woff2') format('woff2'),
        url('../fonts/Verdana.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana-Bold.woff2') format('woff2'),
        url('../fonts/Verdana-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'HeliosCondBlack';
    src: url('../fonts/HeliosCondBlack.woff2') format('woff2'),
        url('../fonts/HeliosCondBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}



