@font-face {
	font-family: 'Conv_FuturaLight';
	src: url('../fonts/futuralight/FuturaLight.eot');
	src: local('☺'), url('../fonts/futuralight/FuturaLight.woff') format('woff'), url('../fonts/futuralight/FuturaLight.ttf') format('truetype'), url('../fonts/futuralight/FuturaLight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_FuturaDemiC';
	src: url('../fonts/futurademic/FuturaDemiC.eot');
	src: local('☺'), url('../fonts/futurademic/FuturaDemiC.woff') format('woff'), url('../fonts/futurademic/FuturaDemiC.ttf') format('truetype'), url('../fonts/futurademic/FuturaDemiC.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_MyriadPro-Regular';
	src: url('../fonts/myriadpro/MyriadPro-Regular.eot');
	src: local('☺'), url('../fonts/myriadpro/MyriadPro-Regular.woff') format('woff'), url('../fonts/myriadpro/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/myriadpro/MyriadPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}